.cont-w {
    width: 8vw;
    display: flex;
    justify-content: space-between;
}


.likes, .dislikes {
    display: flex;
}

.dislike-create-delete, .like-create-delete {
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    border-radius: 20%;
    padding-top: .3vh;
    margin-right: .5vw;
}

.dislike-create-delete {
    background-color: #89ABF2;
}

.like-create-delete {
    background-color:#56aa56;
}

.dislike-create-delete:hover {
    background-color: #4163ac;
}

.like-create-delete:hover {
    background-color:#338633;
}

.lT {
    color: #003200;
    font-size: 15px;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    margin-right: 1.5vw;
}



.dislike-create-delete.sat {
    background-color: #4163ac;
}

.like-create-delete.sat {
    background-color:#89ABF2;
}

.dislike-create-delete.sat:hover {
    background-color: #00305D;
}

.like-create-delete.sat:hover {
    background-color:#4163ac;
}

.lT.sat {
    color: #00305D;
    font-size: 15px;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    margin-right: 1.5vw;
}